$color-border: rgb(225, 225, 226);
.recommend-list-container{
	width: 84rem;
	margin: 0 auto;
	>div:first-child{
		border-bottom: 1px solid $color-border;
		position: relative;
		width: 100%;
		height: 2.5rem;
		span:nth-of-type(1){
			font-size: 2rem;
			cursor: default;
		}
		span:nth-of-type(2){
			position: absolute;
			right: 0;
			bottom: .5rem;
			font-size: 1.2rem;
			cursor: pointer;
			color: rgb(102, 102, 102);
			.icon-you{
				margin-left: -0.4rem;
				width: 1rem;
	    		height: 1rem;
			}
		}
	}
	.recommend-list{
		width: 100%;
		margin: 2rem 0 0;
		ul{
			list-style: none;
			width: 100%;
			display: flex;
			flex-flow: row wrap;
			justify-content: space-between;
			li{
				display: inline-block;
				overflow: hidden;
				>span{
					color: rgb(51, 51, 51);
					font-size: 1.2rem;
					display: inline-block;
					margin-top: .7rem;
					margin-left: .2rem;
					cursor: pointer;
					width: 14.3rem;
					margin-bottom: 2rem;
					&:hover{
						color: rgb(17, 17, 17);
					}
				}
				.every-day,
				.list-img-container{
					width: 14.3rem;
					height: 14.3rem;
					position: relative;
					cursor: pointer;
					border: 1px solid $color-border;
				}
				.every-day{
					background: #fff;
					text-align: center;
					span{
						display: block;
						&:first-child{
							margin-top: 2.5rem;
							font-size: 2.2rem;
						}
						&:nth-child(2){
							font-size: 8.4rem;
							color: rgb(198, 47, 47);
						}
					}
				}
				.list-img-container{
					img{
						width: 100%;
						height: 100%;
					}
					.icon-switch-enter,
					.icon-switch-leave-active{
						opacity: 0;
					}
					.icon-switch-enter-active, 
					.icon-switch-leave-active{
						transition: opacity .2s;
					}
					.hint-switch-enter,
					.hint-switch-leave-active{
						transform: translateY(-4.2rem);
					}
					.hint-switch-enter-active, 
					.hint-switch-leave-active{
						transition: all .2s ease;	
					}
					.icon-container{
						position: absolute;
						width: 2.2rem;
						height: 2.2rem;
						border-radius: 2rem;
						display: flex;
						align-items: center;
						justify-content: center;
						right: 0;
						bottom: 0;
						transform: translate(-0.5rem, -0.5rem);
						border: 1px solid rgb(233, 233, 233);
						background: rgba(0, 0, 0, 0.4);
						.icon{
							color: #fff;
							width: 1.2rem;
							height: 1.2rem;
							margin-right: -0.4rem;
						}
						&:hover{
							background: rgba(76, 76, 76, 0.4);
						}
					}
					.hint-container{
						position: absolute;
						// z-index: 2;
						top: 0;
						width: 100%;
						height: 3rem;
						line-height: 1.5rem;
						padding: .6rem 0;
						background: rgba(99, 99, 99, 0.3);
						>span{
							color: #fff;
							font-size: 1.3rem;
							position: absolute;
							left: .7rem;
							display: -webkit-box;
							-webkit-box-orient: vertical;
							-webkit-line-clamp: 2;
							overflow: hidden;
						}
					}
					>span{
						position: absolute;
						height: 1.4rem;
						line-height: 1.4rem;
						top: 0;
						right: 0;
						color: #fff;
						font-size: 1.2rem;
						padding: .2rem .3rem;
						width: 8rem;
						text-align: right;
						background-image: linear-gradient(90deg,hsla(0,0%,100%,0),rgba(99,99,99,.5));
						.icon{
							width: .9rem;
							height: .9rem;
							margin-bottom: 0.15rem;
							margin-right: .2rem;
						}
					}
				}
			}
		}
	}
}
@media screen and (min-width: 1450px){
	.recommend-list-container{
		width: 105rem;
		.recommend-list{
			ul{
				li{
					.every-day,
					.list-img-container{
						width: 18.3rem;
						height: 18.3rem;
					}
					.every-day{
						span{
							&:first-child{
								margin-top: 4rem;
								font-size: 2.2rem;
							}
							&:nth-child(2){
								font-size: 9.4rem;
								color: rgb(198, 47, 47);
							}
						}
					}
					>span{
						width: 18.3rem;
					}
				}
			}
		}
	}
}
